<% if object.errors.any? %>
  <div class="error-messages">
    <h2>Filter failed:</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
