<h1><%= @annotation_guideline.title %></h1>

<div>
  <%= @annotation_guideline.html_body %>
</div>

<%= link_to 'Edit', edit_annotation_guideline_path(@annotation_guideline) %>
<%= link_to 'Back', :back %>
